<html>
<head>
<title>login</title>
</head>
<body>Login Creditnals
<h1></h1>
 <form class="box" method="post">

                    <h3>Login</h3>           
                    <label class="form-label" for="inputEmail">Email</label>
                    <input type="email" class="form-control w3-round-xxlarge" id="inputEmail" placeholder="Email" required> 
                    <br>
                    <br>
                    <label class="form-label" for="inputPassword">Password</label>
                    <input type="password" class="form-control w3-round-xxlarge" id="inputPassword" placeholder="Password" required>   
                    <br>        
                    <br>
                    <button class="w3-button w3-section w3-block w3-large w3-round-xxlarge w3-hover-indigo" style="background-color:#6E44FF;color:#FFFFFF">Log in</button>
                  
</form>           
</body>
</html>                            
            